Commanigy.Transmit.Client/Service References/UsersRef/UsersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://commanigy.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://commanigy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://commanigy.com/Imports">
      <xsd:import schemaLocation="http://theill-pc/Transmit.Internal/UsersService.svc?xsd=xsd0" namespace="http://commanigy.com/" />
      <xsd:import schemaLocation="http://theill-pc/Transmit.Internal/UsersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://theill-pc/Transmit.Internal/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commanigy.Transmit.Site" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UsersService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="UsersService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="UsersService_Query_InputMessage">
    <wsdl:part name="parameters" element="tns:Query" />
  </wsdl:message>
  <wsdl:message name="UsersService_Query_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryResponse" />
  </wsdl:message>
  <wsdl:portType name="UsersService">
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://commanigy.com/UsersService/Search" message="tns:UsersService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://commanigy.com/UsersService/SearchResponse" message="tns:UsersService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Query">
      <wsdl:input wsaw:Action="http://commanigy.com/UsersService/Query" message="tns:UsersService_Query_InputMessage" />
      <wsdl:output wsaw:Action="http://commanigy.com/UsersService/QueryResponse" message="tns:UsersService_Query_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>