Commanigy.Transmit.Client/Service References/UsersRef/UsersService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://commanigy.com/" elementFormDefault="qualified" targetNamespace="http://commanigy.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://theill-pc/Transmit.Internal/UsersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commanigy.Transmit.Site" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Commanigy.Transmit.Site" minOccurs="0" name="SearchResult" nillable="true" type="q1:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Commanigy.Transmit.Site" minOccurs="0" name="QueryResult" nillable="true" type="q2:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>